Repository rabefabi/metadata-slideshow-helper: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, ruff, ruff-format, mypy, pytest

uv-lock-check:
  name: uv-lock-check
  entry: uv
  language: system
  args:
  - lock
  pass_filenames: false

ruff:
  name: ruff
  entry: uv
  language: system
  args:
  - run
  - ruff
  - check
  - --fix

ruff-format:
  name: ruff-format
  entry: uv
  language: system
  args:
  - run
  - ruff
  - format

mypy:
  name: mypy
  entry: uv
  language: system
  args:
  - run
  - mypy
  - custom_components/
  pass_filenames: false

pytest:
  name: pytest
  entry: uv
  language: system
  args:
  - run
  - pytest
  pass_filenames: false

chore: update hass-slideshow version to 0.2.0 and remove pytest from optional dependencies
  uv.lock
Due: uv-lock-check

feat: support multiple media source directories in MediaScanner string
  CHANGELOG.md
  README.md
  custom_components/metadata_slideshow_helper/__init__.py
  custom_components/metadata_slideshow_helper/manifest.json
  custom_components/metadata_slideshow_helper/scanner.py
  pyproject.toml
  tests/conftest.py
  tests/image_generator.py
  tests/test_fixtures.py
  tests/test_metadata_slideshow_helper.py
  uv.lock
Due: uv-lock-check, ruff, ruff-format, mypy, pytest

chore(AGENTS.md): update agent operating guide with tooling and versioning guidelines
  AGENTS.md
Due: none

feat: add smart random advancement mode
  CHANGELOG.md
  README.md
  custom_components/metadata_slideshow_helper/__init__.py
  custom_components/metadata_slideshow_helper/config_flow.py
  custom_components/metadata_slideshow_helper/const.py
  custom_components/metadata_slideshow_helper/manifest.json
  pyproject.toml
  uv.lock
Due: uv-lock-check, ruff, ruff-format, mypy, pytest

fix: Internal refactoring and improved configuration handling
  AGENTS.md
  CHANGELOG.md
  README.md
  custom_components/metadata_slideshow_helper/__init__.py
  custom_components/metadata_slideshow_helper/config_flow.py
  custom_components/metadata_slideshow_helper/const.py
  custom_components/metadata_slideshow_helper/manifest.json
  custom_components/metadata_slideshow_helper/scanner.py
  pyproject.toml
  uv.lock
Due: uv-lock-check, ruff, ruff-format, mypy, pytest

feat(diagnostic): improved diagnostics
  CHANGELOG.md
  custom_components/metadata_slideshow_helper/__init__.py
  custom_components/metadata_slideshow_helper/const.py
  custom_components/metadata_slideshow_helper/manifest.json
  custom_components/metadata_slideshow_helper/scanner.py
  custom_components/metadata_slideshow_helper/sensor.py
  pyproject.toml
  tests/image_generator.py
  tests/test_fixtures.py
  tests/test_metadata_slideshow_helper.py
  uv.lock
Due: uv-lock-check, ruff, ruff-format, mypy, pytest

build(AGENTS.md): document playwright browser feedback loop
  AGENTS.md
Due: none

docs: update README with link to Home Assistant Community Store
  README.md
Due: none

builf: add GitHub workflows for HACS and hassfest validation
  .github/workflows/validate-hacs.yaml
  .github/workflows/validate-hassfest.yaml
Due: none

fix: better config flow, consistent `rescan` naming
  custom_components/metadata_slideshow_helper/__init__.py
  custom_components/metadata_slideshow_helper/config_flow.py
  custom_components/metadata_slideshow_helper/const.py
  custom_components/metadata_slideshow_helper/manifest.json
  pyproject.toml
  uv.lock
Due: uv-lock-check, ruff, ruff-format, mypy, pytest

fix(ci): add 'brands' to ignore list in HACS validation
  .github/workflows/validate-hacs.yaml
Due: none

fix(ci): remove duplicate CI jobs
  .github/workflows/validate-hacs.yaml
  .github/workflows/validate-hassfest.yaml
Due: none

chore: Fix ci errors by sorting keys, adding strings.json
  custom_components/metadata_slideshow_helper/manifest.json
  custom_components/metadata_slideshow_helper/strings.json
Due: none

fix(agents.md): uv instructions, manifest learnings
  AGENTS.md
Due: none

chore: update version to 0.2.5 and enhance documentation in changelog
  CHANGELOG.md
  custom_components/metadata_slideshow_helper/manifest.json
  pyproject.toml
  uv.lock
Due: uv-lock-check

docs: update README with new diagnostic sensor naming and clarify entity descriptions
  CHANGELOG.md
  README.md
Due: none

fix(config): allow yaml config, add devcontainer setup
  .devcontainer/Dockerfile
  .devcontainer/configuration.yaml
  .devcontainer/devcontainer.json
  .devcontainer/lovelace-slideshow.yaml
  .devcontainer/secrets.yaml.template
  .dockerignore
  .github/workflows/pre-commit.yaml
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  AGENTS.md
  CHANGELOG.md
  README.md
  custom_components/metadata_slideshow_helper/__init__.py
  custom_components/metadata_slideshow_helper/config_flow.py
  custom_components/metadata_slideshow_helper/const.py
  custom_components/metadata_slideshow_helper/manifest.json
  docker-compose.yml
  docs/architecture.md
  docs/dev-setup.md
  docs/dev_diary/2026-02-13-devcontainer-setup.md
  ha-config/.gitkeep
  pyproject.toml
  sample-media/.gitkeep
  scripts/init-headless
  scripts/reset-config
  scripts/start
  tests/image_generator.py
  uv.lock
Due: uv-lock-check, ruff, ruff-format, mypy, pytest

agent(skill): add playwright integration test skill
  .devcontainer/Dockerfile
  .github/skills/homeassistant-playwright-integration-test/SKILL.md
  .vscode/settings.json
Due: none

fix(devcontainer): install Node 20 for playwright mcp
  .devcontainer/Dockerfile
  .github/skills/homeassistant-playwright-integration-test/SKILL.md
  CHANGELOG.md
Due: none

fix: defer startup scan and optimize media walk
  CHANGELOG.md
  custom_components/metadata_slideshow_helper/__init__.py
  custom_components/metadata_slideshow_helper/scanner.py
  docs/dev_diary/2026-08-29-home-assistant-bootstrap-timeout.md
  tests/test_metadata_slideshow_helper.py
Due: ruff, ruff-format, mypy, pytest

chore: bump prerelease version for live testing
  CHANGELOG.md
  custom_components/metadata_slideshow_helper/manifest.json
  pyproject.toml
Due: uv-lock-check

fix: guard empty initial image state
  custom_components/metadata_slideshow_helper/image.py
  tests/test_metadata_slideshow_helper.py
Due: ruff, ruff-format, mypy, pytest

chore: bump patched prerelease version
  CHANGELOG.md
  custom_components/metadata_slideshow_helper/manifest.json
  pyproject.toml
  uv.lock
Due: uv-lock-check

Path conditions:
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
